@using Microsoft.AspNet.Identity
@model QuestioningSystem.Models.ManageUserViewModel

@*<p>You're logged in as <strong>@User.Identity.GetUserName()</strong>.</p>*@

@using (Html.BeginForm("Manage", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
   
    <h2>Change Password </h2>
    <hr />

<div ng-controller="ResetController">
    <form novalidate name="f4" ng-submit="Manage()">
      @*  <input id="antiForgeryToken" data-ng-model="antiForgeryToken" type="hidden" data-ng-init="antiForgeryToken='@GetAntiForgeryToken()'"  />  *@
       <table style="border-collapse:collapse" ng-show="!IsLoggedIn">
          
            <tr>
                <td class="labelStyle">Current Password:</td>
                <td>
                    <input type="password" ng-model="Password" name="cPassword" ng-class="Submitted?'ng-dirty':''" required autofocus/>
                </td>
            </tr>
<tr>
                <td class="labelStyle">New Password:</td>
                <td>
                    <input type="password" ng-model="NewPassword" name="cPassword" ng-class="Submitted?'ng-dirty':''" required autofocus/>
                </td>
            </tr>
            <tr>
                <td class="labelStyle">Confirm New Password:</td>
                <td>
                    <input type="password" ng-model="ConfirmedPassword" name="rCPassword" ng-class="Submitted?'ng-dirty':''" required autofocus/>
                </td>
            </tr>
           <tr><td>&nbsp;</td></tr>
            <tr>
                <td></td>
                <td>
                    <input type="submit" value="Change password" />
                </td>
            </tr>
        </table>
    </form>
</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
 <script src="~/Scripts/AngularControllers/ResetController.js"></script>
}

    @*@Html.ValidationSummary()
    <div class="form-group">
        @Html.LabelFor(m => m.OldPassword, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.NewPassword, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Change password" class="btn btn-default" />
        </div>
    </div>*@
}
