@model QuestioningSystem.Models.ManageUserViewModel

<p class="text-info">
    You do not have a local username/password for this site. Add a local
    account so you can log in without an external login.
</p>

@using (Html.BeginForm("Manage", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
   <div ng-controller="ResetController">
    <form novalidate name="f4" ng-submit="Manage()">
      @*  <input id="antiForgeryToken" data-ng-model="antiForgeryToken" type="hidden" data-ng-init="antiForgeryToken='@GetAntiForgeryToken()'"  />  *@
       <table style="border-collapse:collapse" ng-show="!IsLoggedIn">
            <tr>
                <td class="labelStyle">New Password:</td>
                <td>
                    <input type="password" ng-model="NewPassword" name="cPassword" ng-class="Submitted?'ng-dirty':''" required autofocus/>
                </td>
            </tr>
            <tr>
                <td class="labelStyle">Confirm New Password:</td>
                <td>
                    <input type="password" ng-model="ConfirmedPassword" name="rCPassword" ng-class="Submitted?'ng-dirty':''" required autofocus/>
                </td>
            </tr>
           <tr><td>&nbsp;</td></tr>
            <tr>
                <td></td>
                <td>
                    <input type="submit" value="Change password" />
                </td>
            </tr>
        </table>
    </form>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
 <script src="~/Scripts/AngularControllers/ResetController.js"></script>
}

@*    <h4>Create Local Login</h4>
    <hr />
    @Html.ValidationSummary()
    <div class="form-group">
        @Html.LabelFor(m => m.NewPassword, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Set password" class="btn btn-default" />
        </div>
    </div>*@
}
