@model QuestioningSystem.Models.LoginViewModel

@{
    ViewBag.Title = @_("Log in");
}

<h2>@ViewBag.Title</h2>

 
<div ng-controller="LoginController">
    <form novalidate name="f1" ng-submit="Login()">
      @*  <input id="antiForgeryToken" data-ng-model="antiForgeryToken" type="hidden" data-ng-init="antiForgeryToken='@GetAntiForgeryToken()'"  />  *@
        <div ng-show="Success && Submitted" class="alert alert-success alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true"></span></button>{{Message}}</div><br />
        <div ng-show="!Success && Submitted" class="alert alert-danger alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true"></span></button>{{Message}}</div><br />
        <table ng-show="!IsLoggedIn">
            <tr>
                <td class="labelStyle">@_("Username"):</td>
                <td>
                    <input type="text" ng-model="UserName" name="cUserName" ng-minlength="3" ng-maxlength="10" ng-class="Submitted?'ng-dirty':''" required autofocus/>
@*                    <span class="error" ng-show="f1.cUsername.$dirty || Submitted">@_("Username required")</span>*@
</td>
<td>
<div role="alert">
      <span class="error" ng-show="f1.cUserName.$error.minlength">
        <div style="color:rgb(255, 0, 0)">Too short(min 3 characters)!</div>
</span>
      <span class="error" ng-show="f1.cUserName.$error.maxlength">
        <div style="color:rgb(255, 0, 0)">Too long(max 10 characters)!</div>
</span>
    </div>
                </td>
            </tr>
            <tr>
                <td class="labelStyle">@_("Password"):</td>
                <td>
                    <input type="password" ng-model="Password" name="cPassword" ng-class="Submitted?'ng-dirty':''" required autofocus/>
                </td>
            </tr>
            <tr>
                <td></td>
                <td>
                    <input type="submit" value="@_("Login").ToString()" />
                </td>
            </tr>
        </table>
    </form>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/Scripts/AngularControllers/LoginController.js"></script>
}