@model QuestioningSystem.Models.LoginViewModel

@{
    ViewBag.Title = @_("Log in");
}

<h2>@ViewBag.Title</h2>

 
<div ng-controller="LoginController">
    <form novalidate name="f1" ng-submit="Login()">
      @*  <input id="antiForgeryToken" data-ng-model="antiForgeryToken" type="hidden" data-ng-init="antiForgeryToken='@GetAntiForgeryToken()'"  />  *@
        <div style="color:rgb(182, 255, 0)">{{Message}}</div>
        <table ng-show="!IsLoggedIn">
            <tr>
                <td class="labelStyle">@_("Username"):</td>
                <td>
                    <input type="text" ng-model="UserName" name="cUserName" ng-class="Submitted?'ng-dirty':''" required autofocus/>
@*                    <span class="error" ng-show="f1.cUsername.$dirty || Submitted">@_("Username required")</span>*@
                </td>
            </tr>
            <tr>
                <td class="labelStyle">@_("Password"):</td>
                <td>
                    <input type="password" ng-model="Password" name="cPassword" ng-class="Submitted?'ng-dirty':''" required autofocus/>
                </td>
            </tr>
            <tr>
                <td></td>
                <td>
                    <input type="submit" value="@_("Login").ToString()" />
                </td>
            </tr>
        </table>
    </form>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/Scripts/AngularControllers/LoginController.js"></script>
}