@model QuestioningSystem.Models.ApplicationUser

@{
    ViewBag.Title = @_("Profile");
}

@using (Html.BeginForm("Profile", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form", enctype = "multipart/form-data" }))
{
    <br /><br /><br />
        <table class="table table-bordered table-hover">
            <tr>
                <td>
                    @_("Username")
                </td>
                <td>
                    @Model.UserName
                </td>
            </tr>
            <tr>
                <td>
                    @_("First name")
                </td>
                <td>
                    @Model.FirstName
                </td>
            </tr>
            <tr>
                <td>
                    @_("Last name")
                </td>
                <td>
                    @Model.LastName
                </td>
            </tr>
            <tr>
                <td>
                    @_("Email")
                </td>
                <td>
                    @Model.Email
                </td>
            </tr>
            <tr>
                <td>
                    @_("Image")
                </td>
                <td>
                   <img src="@Url.Content("/Images/" + Model.UserName + ".jpg")" alt="Profile picture" height="300" width="300" onerror="if (this.src != 'error.jpg') this.src = location.protocol + '//' + location.host + '/error.jpg';"/>
                </td>
            </tr>
            <tr>
                <td>
                    @_("Change picture")
                </td>
                <td>
                    <input type="file" name="fileImage" value="@_("Choose picture")" />
                </td>
            </tr>


        </table>

     
    
    <input type="submit" value="@_("Change picture").ToString()" />
}
