@using CaptchaMvc.HtmlHelpers
@using CaptchaMvc;  


@model QuestioningSystem.Models.RegisterViewModel
@{
    ViewBag.Title = @_("Register");
}

<h2><br><br>@_("Register")</h2>

<div ng-controller="RegisterController">
    <form novalidate name="f2" ng-submit="Register()">
      @*  <input id="antiForgeryToken" data-ng-model="antiForgeryToken" type="hidden" data-ng-init="antiForgeryToken='@GetAntiForgeryToken()'"  />  *@
        <div style="color:rgb(255, 0, 0)">{{Message}}</div><br />
        <table style="border-collapse:collapse" ng-show="!IsLoggedIn">
            <tr>
                <td class="labelStyle" font">
                @_("Username"):
                </td>
                <td>
                    <input type="text" ng-model="UserName" name="rUserName" ng-minlength="3" ng-maxlength="10" ng-class="Submitted?'ng-dirty':''" required autofocus/>
@*                    <span class="error" ng-show="f1.cUsername.$dirty || Submitted">@_("Username required")</span>*@
</td>
<td>

<div role="alert">
      <span class="error" ng-show="f2.rUserName.$error.minlength">
        <div style="color:rgb(255, 0, 0)">Too short!</div>
</span>
      <span class="error" ng-show="f2.rUserName.$error.maxlength">
        <div style="color:rgb(255, 0, 0)">Too long!</div>
</span>
    </div>
                </td>
            </tr>
          
            <tr>
                <td class="labelStyle">@_("Password"):</td>
                <td>
                    <input type="password" ng-model="Password" name="cPassword" ng-class="Submitted?'ng-dirty':''"  ng-pattern="/(?=.*[a-z])(?=.*[A-Z])(?=.*[^a-zA-Z])/" required autofocus/>
                </td>  
<td>
<div role="alert">
      <span class="error" ng-show="f2.cPassword.$error.pattern && f2.cPassword.$dirty">
        <div style="color:rgb(255, 0, 0)">Must contain one lower &amp; uppercase letter, and one non-alpha character (a number or a symbol.)</div>
</span>
    </div>
                </td>                                                                                                             
            </tr>
            <tr>
                <td class="labelStyle">@_("Confirm Password"):</td>
                <td>
                    <input type="password" ng-model="ConfirmedPassword" name="rCPassword" ng-class="Submitted?'ng-dirty':''" required autofocus/>
                </td>

            </tr>
            
             <tr>
                <td class="labelStyle">@_("Email"):</td>
                <td>
                    <input type="email" ng-model="Email" name="rEmail" ng-class="Submitted?'ng-dirty':''" required autofocus/>
</td>
<td>
<div role="alert">
      <span class="error" ng-show="f2.rEmail.$invalid && !f2.rEmail.$pristine">
        <div style="color:rgb(255, 0, 0)">Not valid email!</div>
</span>
    </div>
           </td>     
            </tr>
            
             <tr>
                <td class="labelStyle">@_("First Name"):</td>
                <td>
                    <input type="text" ng-model="FirstName" name="rFirstName" ng-minlength="3" ng-class="Submitted?'ng-dirty':''" required autofocus/>
                </td>
<td>
                <div role="alert">
                      <span class="error" ng-show="f2.rFirstName.$error.minlength">
                        <div style="color:rgb(255, 0, 0)">Min 3 characters!</div>
                </div>
                </td>
            </tr>
            
             <tr>
                <td class="labelStyle">@_("Last Name"):</td>
                <td>
                    <input type="text" ng-model="LastName" name="rLastName" ng-minlength="3" ng-class="Submitted?'ng-dirty':''" required autofocus/>
                </td>
<td>
                <div role="alert">
                      <span class="error" ng-show="f2.rLastName.$error.minlength">
                        <div style="color:rgb(255, 0, 0)">Min 3 characters!</div>
                </div>
                </td>
            </tr>
            
             <tr>
                <td class="labelStyle">@_("Phone Number"):</td>
                <td>
                    <input type="text" ng-model="PhoneNumber" name="rPhoneNumber" ng-minlength="9" ng-pattern="/^\d{10}$/"  autofocus/>
                </td>
                <td>
                <div role="alert">
                      <span class="error" ng-show="f2.rPhoneNumber.$error.minlength && f2.rPhoneNumber.$error.pattern">
                        <div style="color:rgb(255, 0, 0)">The phone number field should be of 9 digits!</div>
                </span>
                    </div>
                 </td> 
            </tr>
            
             <tr>
                <td class="labelStyle">@_("Age"):</td>
                <td>
                    <input type="number" ng-model="Age" name="rAge" ng-class="Submitted?'ng-dirty':''" required autofocus/>
                </td>
            </tr>
            <tr><td>&nbsp;</td></tr>
            <tr>
                <td>

                </td>
                <td>
                    @*@Html.Captcha(5)*@
                    @*<br />
                    <p class="Error">  @ViewBag.ErrMessage </p> *@
                </td>
            </tr>
            <tr>
                <td></td>
                <td>
                    <input type="submit" value="@_("Register").ToString()" />
                </td>
            </tr>
        </table>
    </form>
</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
 <script src="~/Scripts/AngularControllers/RegisterController.js"></script>
}
