@using CaptchaMvc.HtmlHelpers
@using CaptchaMvc;  


@model QuestioningSystem.Models.RegisterViewModel
@{
    ViewBag.Title = @_("Register");
}

<h2><br><br>@_("Register")</h2>

<div ng-controller="RegisterController">
    <form novalidate name="f2" ng-submit="Register()">
      @*  <input id="antiForgeryToken" data-ng-model="antiForgeryToken" type="hidden" data-ng-init="antiForgeryToken='@GetAntiForgeryToken()'"  />  *@
        <div style="color:rgb(255, 0, 0)">{{Message}}</div><br />
        <table style="border-collapse:collapse" ng-show="!IsLoggedIn">
            <tr>
                <td class="labelStyle" font">
                @_("Username"):
                </td>
                <td>
                    <input type="text" ng-model="UserName" name="rUserName" ng-class="Submitted?'ng-dirty':''" required autofocus/>
@*                    <span class="error" ng-show="f1.cUsername.$dirty || Submitted">@_("Username required")</span>*@
                </td>
            </tr>
          
            <tr>
                <td class="labelStyle">@_("Password"):</td>
                <td>
                    <input type="password" ng-model="Password" name="cPassword" ng-class="Submitted?'ng-dirty':''" required autofocus/>
                </td>
            </tr>
            <tr>
                <td class="labelStyle">@_("Confirm Password"):</td>
                <td>
                    <input type="password" ng-model="ConfirmedPassword" name="rCPassword" ng-class="Submitted?'ng-dirty':''" required autofocus/>
                </td>
            </tr>
            
             <tr>
                <td class="labelStyle">@_("Email"):</td>
                <td>
                    <input type="text" ng-model="Email" name="rEmail" ng-class="Submitted?'ng-dirty':''" required autofocus/>
                </td>
            </tr>
            
             <tr>
                <td class="labelStyle">@_("First Name"):</td>
                <td>
                    <input type="text" ng-model="FirstName" name="rFirstName" ng-class="Submitted?'ng-dirty':''" required autofocus/>
                </td>
            </tr>
            
             <tr>
                <td class="labelStyle">@_("Last Name"):</td>
                <td>
                    <input type="text" ng-model="LastName" name="rLastName" ng-class="Submitted?'ng-dirty':''" required autofocus/>
                </td>
            </tr>
            
             <tr>
                <td class="labelStyle">@_("Phone Number"):</td>
                <td>
                    <input type="text" ng-model="PhoneNumber" name="rPhoneNumber" autofocus/>
                </td>
            </tr>
            
             <tr>
                <td class="labelStyle">@_("Age"):</td>
                <td>
                    <input type="number" ng-model="Age" name="rAge" ng-class="Submitted?'ng-dirty':''" required autofocus/>
                </td>
            </tr>
            <tr><td>&nbsp;</td></tr>
            <tr>
                <td>

                </td>
                <td>
                    @*@Html.Captcha(5)*@
                    @*<br />
                    <p class="Error">  @ViewBag.ErrMessage </p> *@
                </td>
            </tr>
            <tr>
                <td></td>
                <td>
                    <input type="submit" value="@_("Register").ToString()" />
                </td>
            </tr>
        </table>
    </form>
</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
 <script src="~/Scripts/AngularControllers/RegisterController.js"></script>
}
