
<br />


<table class="table">
    <tr>
        <td class="labelStyle" font">Question @Model</td>
        <td ><input type="text" name="Question" /></td>
        <td class="labelStyle" font">Points:
        <input type="text" name="Point" /></td>
    </tr>

    <tr>
        <td class="labelStyle" font"> Answers </td>
        <td>
            <input type="radio" name="@String.Format("correct{0}", @Model)" value="1" />
            <input type="text" name="Answer1" />
        </td>
        <td>
            <input type="radio" name="@String.Format("correct{0}", @Model)" value="2" />
            <input type="text" name="Answer2" />
        </td>
        <td>
            <input type="radio" name="@String.Format("correct{0}", @Model)" value="3" />
            <input type="text" name="Answer3" />
        </td>
        <td>
            <input type="radio" name="@String.Format("correct{0}", @Model)" value="4" />
            <input type="text" name="Answer4" />
        </td>
    </tr>
</table>

