<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body ng-app="MyApp">
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
              
            <div class="navbar-header">
           <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
                @Html.ActionLink("News feed", "Index", "Home", null, new { @class = "navbar-brand" })
               
     
         </div>

      

         <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
          
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Tests <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="#">Create Test</a></li>
            <li><a href="#">Manage Test</a></li>
            <li><a href="#">My Test</a></li>
             <li><a href="#">Explore Tests</a></li>
            
          </ul>
        </li>
          <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Groups <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="#">Create Group</a></li>
            <li><a href="#">Manage Group</a></li>
             <li><a href="#">Delete Gruop</a></li>
          </ul>
        </li>
            <li>@Html.ActionLink("About", "About", "Home")</li>
            <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
      </ul>
     
      <ul class="nav navbar-nav navbar-right">
        
       <li> @Html.Partial("_LoginPartial") </li>
        
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->

        </div>
    </div>



    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - QSystem Application</p>
        </footer>
    </div>




    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/angular")
    <script src="~/Scripts/MyApp.js"></script>
    @RenderSection("scripts", required: false)
</body>

</html>






