<!DOCTYPE html>
<html>
<head>
<link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:600' rel='stylesheet' type='text/css'>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - QSystem</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    <script src="~/Scripts/jquery-2.1.4.intellisense.js"></script>
    <script src="~/Scripts/jquery-2.1.4.js"></script>
    <script src="~/Scripts/jquery-2.1.4.min.js"></script>

<link href='http://fonts.googleapis.com/css?family=Josefin+Sans:600' rel='stylesheet' type='text/css'>
</head>
<body ng-app="MyApp">
    <!--     <div class="navbar-header">
 <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
 </div>-->
 <div class="container">
 <div class="masthead">
@Html.ActionLink("News feed", "Index", "Home", null, new { @class = "navbar-brand" })
@Html.Partial("_LoginPartial")
       <!--  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">-->
      <ul class="nav nav-justified">
<br>
<br>
<br />
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">@_("Tests") <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
              <li role="presentation">@Html.ActionLink("Create test", "Create", "Test")</li>
              <li role="presentation">@Html.ActionLink("Manage test", "Manage", "Test")</li>
              <li role="presentation">@Html.ActionLink("My tests", "MyTests", "Test")</li>
              <li role="presentation">@Html.ActionLink("Explore tests", "ExploreTests", "Test")</li>
              <li role="presentation">@Html.ActionLink("Completed tests", "CompletedTests", "Test")</li>
          </ul>
        </li>
          <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">@_("Groups") <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a> @Html.ActionLink("Create Group", "Create", "Group")</a></li>
            <li><a> @Html.ActionLink("Manage Group", "Manage", "Group")</a></li>
          </ul>
        </li>
           <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">@_("Dashboards") <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a> @Html.ActionLink("Group - Member", "Group", "Dashboards")</a></li>
            <li><a> @Html.ActionLink("Group - Creator", "GroupCreator", "Dashboards")</a></li>
            <li><a> @Html.ActionLink("Group - Tests", "GroupTests", "Dashboards")</a></li>
            <li><a> @Html.ActionLink("Test - Creator ", "Test", "Dashboards")</a></li>
            <li><a> @Html.ActionLink("Test-Points", "Exams", "Dashboards")</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">@_("Users") <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a> @Html.ActionLink("Explore Users", "ExploreUsers", "Account")</a></li>
          </ul>
        </li>
        @if(User.IsInRole("Administrator"))
        {
            <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">@_("Admin panel") <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a> @Html.ActionLink("Manage Users", "AdminPanel", "Home")</a></li>
          </ul>
        </li>
        }
                    <li>@Html.ActionLink(@_("About").ToString(), "About", "Home")</li>
                    <li>@Html.ActionLink(@_("Contact").ToString(), "Contact", "Home")</li>
                    <li><a href="@Url.Action("SetLanguage", "Language", new { @name = "hr-HR" })"><img height="17" width="30" src="~/Content/flag_of_bosnia_and_herzegovina.png"/></a></li>
                    <li><a href="@Url.Action("SetLanguage", "Language", new { @name = "en-US" })"><img height="18" width="30" src="~/Content/united_kingdom_640.png"/></a></li>
  </ul>
  <br />
<br />
    </div> 
  </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - @_("All rights reserved")</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/angular")
    <script src="~/Scripts/MyApp.js"></script>
        <script src="~/Scripts/AngularControllers/GroupController.js"></script>

    @RenderSection("scripts", required: false)


</body>

</html>
