@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm(@_("LogOff").ToString(), "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {


    <ul class="nav navbar-nav navbar-right">
        <li>
            @Html.ActionLink(@_("Hello ").ToString() + User.Identity.GetUserName() + "!", "Manage", "Account", routeValues: null, htmlAttributes: new { title = "Manage" })
        </li>
        <li>
                        <a href=@Url.Content("/Account/Profile/" + User.Identity.GetUserName())>
                        <img src="@Url.Content("/Images/" + User.Identity.GetUserName() + ".jpg")" alt="Profile picture" height="30" width="30" onerror="if (this.src != 'error.jpg') this.src = location.protocol + '//' + location.host + '/error.jpg';"/>
                        </a>
        </li>
        <li>
            @Html.ActionLink(@_("My Profile").ToString(), "Profile", "Account",  new {id = User.Identity.GetUserName()}, null)
        </li>
        <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
    </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink(@_("Register").ToString(), "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        <li>@Html.ActionLink(@_("Log in").ToString(), "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}
