@model WebApplication2.Models.ViewModel.TestGroupModel

@{
    ViewBag.Title = "AssignToTest";
}
<script>
    $(function () {
       
        $("#Confirm").click(function () {
                var testId = @Model.test.ID
           
                $.ajax({
                    type: "POST",
                    url: "/Group/Assign",
                    data: { groupId: $( "#groupID option:selected" ).val(), testId: testId },
                    success: function () {

                    }
                });
            });

    });
    </script>
 
<h3>Groups:</h3>
<select id="groupID" style="margin-top: 6px">
@*<div> @Model.test.Title </div>*@
@{foreach(var group in @Model.groups.Groups)
  {
      <option value="@group.ID">@group.Title</option>
  }
}
</select>
<input type="button" value ="Confirm"  id="Confirm"/>
