
@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>


<div ng-controller="GroupController" onload="GetAllData()">
    <form novalidate name="f3" ng-submit="CreateGroup()">
        <div ng-show="Success && Saved" class="alert alert-success alert-dismissible" role="alert">
              <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true"></span></button>{{Message}}</div><br />
         <div ng-show="!Success && Saved" class="alert alert-danger alert-dismissible" role="alert">
              <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true"></span></button>{{Message}}</div><br />
        <table style="border-collapse:collapse" ng-show="!IsLoggedIn">
            <tr>
                <td class="labelStyle" font">
                @_("Group title"):
                </td>
                <td>
                    <input type="text" ng-model="titleOfGroup" name="gTitle" ng-minlength="3" ng-maxlength="10" ng-class="Submitted?'ng-dirty':''" required autofocus/>
@*                    <span class="error" ng-show="f1.cUsername.$dirty || Submitted">@_("Username required")</span>*@
                </td>
<td>
<div role="alert">
      <span class="error" ng-show="f3.gTitle.$error.minlength">
        <div style="color:rgb(255, 0, 0)">Too short(min 3 characters)!</div>
</span>
      <span class="error" ng-show="f3.gTitle.$error.maxlength">
        <div style="color:rgb(255, 0, 0)">Too long(max 10 characters)!</div>
</span>
    </div>
                </td>
            </tr>
             <tr>
                <td class="labelStyle">@_("Maximal number of members"):</td>
                <td>
                    <input type="number" ng-model="maxNumberOfMembers" name="rAge" ng-class="Submitted?'ng-dirty':''" required autofocus/>
                </td>
            </tr>
            <tr>
                
                <td class="labelStyle">@_("Add user to this group (Optional)"):</td> 
                <td>
                    <input type="text" ng-model="addUser" name="gUser" autofocus/>
                </td>
                 <td>&nbsp;</td>
                <td>  <input type="button" value="Check User" ng-click="CheckUser()" name="gAddUser" autofocus/></td>
            </tr>
              <tr><td>&nbsp;</td></tr>
            <tr>
                <td></td>
                <td>
                    <input type="submit" value="@_("Create Group").ToString()" />&nbsp;
                    <input type="button" ng-click="Clear()" Value="@_("Clear").ToString()" />
                </td>
            </tr>
        </table>

        </form>
    </div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/Scripts/AngularControllers/GroupController.js"></script>
}
